<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CostCenterChgHisMapper">
	<!--
            Select
        -->

	<!-- 조회 : 기준일자 기준 코스트센터트리-->
	<select id="Select_CostCenterTreeList"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO"
			resultType="com.ibiz.api.model.CostCenterChgHisVO">

		<!-- SELECT
		    CC_ID
		    , CC_NM || '(' || CC_ID || ')' AS CC_NM
		    , HGRK_CC_ID
		    , DEPT_SORT_SEQC
		    , DEPTH_LEVEL
		FROM (
		    SELECT
		        T1.CC_ID
		        ,T1.CC_NM
		        ,T1.HGRK_CC_ID
		        ,T1.DEPT_SORT_SEQC
		        ,LTRIM (SYS_CONNECT_BY_PATH (T1.CC_ID, ' > '), ' > ') AS DEPT_FULLNAME
		        ,LEVEL AS DEPTH_LEVEL
		    FROM HMST201T T1
		    WHERE <![CDATA[  T1.AVL_START_DATE <= ]]> #{stadDate}
		         AND <![CDATA[ T1.AVL_END_DATE >= ]]>#{stadDate}
		    START WITH T1.HGRK_CC_ID IS NULL
		    CONNECT BY PRIOR T1.CC_ID=T1.HGRK_CC_ID
		    ORDER SIBLINGS BY TO_NUMBER(T1.DEPT_SORT_SEQC)
		)  -->

		SELECT
		cc_id,
		cc_nm
		|| '('
		|| cc_id
		|| ')' AS cc_nm,
		hgrk_cc_id,
		dept_sort_seqc,
		depth_level
		FROM
		(
		SELECT
		TEMP.*,
		LTRIM(sys_connect_by_path(TEMP.cc_id,' > '),' > ') AS dept_fullname,
		level   AS depth_level
		FROM
		(
		SELECT
		t1.cc_id,
		t1.cc_nm,
		t1.hgrk_cc_id,
		t1.dept_sort_seqc
		FROM
		hmst201t t1
		WHERE
		<![CDATA[
		             t1.avl_start_date <= #{stadDate}
		             AND t1.avl_end_date >= #{stadDate}
		         ]]>
		) TEMP
		START WITH
		temp.hgrk_cc_id IS NULL
		CONNECT BY
		PRIOR temp.cc_id = temp.hgrk_cc_id
		ORDER SIBLINGS BY TO_NUMBER(temp.DEPT_SORT_SEQC)
		)

	</select>

	<!-- 조회 : 특정조직의 등록 가능한 상위조직 조회-->
	<select id="Select_HighCostCenterTreeList"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO"
			resultType="com.ibiz.api.model.CostCenterChgHisVO">


		SELECT
		CC_ID
		, CC_NM
		, HGRK_CC_ID
		, DEPT_SORT_SEQC
		, DEPTH_LEVEL
		FROM (
		SELECT
		T1.CC_ID
		,T1.CC_NM
		,T1.HGRK_CC_ID
		,T1.DEPT_SORT_SEQC
		,LTRIM (SYS_CONNECT_BY_PATH (T1.CC_ID, ' > '), ' > ') AS DEPT_FULLNAME
		,LEVEL AS DEPTH_LEVEL
		FROM HMST200T T1
		WHERE T1.ORG_CRT_DATE <![CDATA[ <= ]]> #{stadDate}
		AND T1.ORG_CLOSE_DATE <![CDATA[ >= ]]> #{stadDate}
		START WITH T1.HGRK_CC_ID IS NULL
		CONNECT BY PRIOR T1.CC_ID=T1.HGRK_CC_ID
		)
		<if test="ccId != null and ccId !=''">
			WHERE DEPT_FULLNAME NOT LIKE '%' || #{ccId} || '%'
		</if>
		ORDER BY DEPT_FULLNAME

	</select>

	<!-- 왼쪽 코스트센터트리 선택 :  특정 코스트센터변경이력리스트-->
	<select id="Select_CostCenterChgHisList"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO"
			resultType="com.ibiz.api.model.CostCenterChgHisVO">

		SELECT
			*
		FROM (
			SELECT
			    T1.CC_ID
			    ,T1.CC_NM
			    ,T1.HGRK_CC_ID
			    , (
			        SELECT
			            TT2.CC_NM AS HGRK_CC_NM
			        FROM HMST201T TT2
			        WHERE (TT2.AVL_START_DATE BETWEEN T1.AVL_START_DATE AND T1.AVL_END_DATE
			            OR TT2.AVL_END_DATE BETWEEN T1.AVL_START_DATE AND T1.AVL_END_DATE
                        OR (TT2.AVL_START_DATE <![CDATA[ <= ]]> T1.AVL_START_DATE AND TT2.AVL_END_DATE <![CDATA[ >= ]]> T1.AVL_END_DATE)
                        )
			            AND TT2.CC_ID = T1.HGRK_CC_ID
			            AND TT2.AVL_END_DATE = (
			                                     SELECT
			                                       MAX(AVL_END_DATE)
			                                     FROM HMST201T TT2
			                                     WHERE (TT2.AVL_START_DATE BETWEEN T1.AVL_START_DATE AND T1.AVL_END_DATE
			                                        OR TT2.AVL_END_DATE BETWEEN T1.AVL_START_DATE AND T1.AVL_END_DATE
                                                    OR (TT2.AVL_START_DATE <![CDATA[ <= ]]> T1.AVL_START_DATE AND TT2.AVL_END_DATE <![CDATA[ >= ]]> T1.AVL_END_DATE)
                                                    )
			                                        AND TT2.CC_ID = T1.HGRK_CC_ID
			                                   )
			    ) AS HGRK_CC_NM
			    ,T1.DEPT_SORT_SEQC
			    ,T1.ORG_CRT_DATE
			    ,T1.ORG_CLOSE_DATE
			    ,T1.AVL_START_DATE
			    ,T1.AVL_END_DATE
			    ,ROW_NUMBER() OVER(ORDER BY T1.AVL_END_DATE DESC)  AS ROWNUMBER
			FROM HMST201T T1
			WHERE T1.CC_ID = #{ccId}
		)
		WHERE ROWNUMBER BETWEEN #{pageSize} * (#{pageNumber} - 1) + 1 AND #{pageSize} * (#{pageNumber} - 1) + #{pageSize}
	</select>

	<!-- 왼쪽 코스트센터트리 선택 : 특정 코스트센터변경이력카운트-->
	<select id="Select_CostCenterChgHisCnt"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO"
			resultType="com.ibiz.api.model.CostCenterChgHisVO">

		SELECT
		    COUNT(T1.CC_ID) AS LIST_CNT
		FROM HMST201T T1
		WHERE T1.CC_ID = #{ccId}

	</select>

<!--	&lt;!&ndash; 코스트센터다운로드 : 코스트센터정보다운로드&ndash;&gt;-->
<!--	<select id="Select_CostCenterInfoDownload"-->
<!--			parameterType="com.ibiz.api.model.CostCenterChgHisVO"-->
<!--			resultType="com.ibiz.api.model.ExcelCostCenterInfoVO">-->

<!--		SELECT-->
<!--		    MAIN.CC_ID-->
<!--		    , MAIN.CC_NM-->
<!--		    , MAIN.HGRK_CC_ID-->
<!--		    , MAIN.HGRK_CC_NM-->
<!--		    , MAIN.DEPT_SORT_SEQC-->
<!--		    , MAIN.ORG_CRT_DATE-->
<!--		    , MAIN.ORG_CLOSE_DATE-->
<!--		    , MAIN.AVL_START_DATE-->
<!--		    , MAIN.AVL_END_DATE-->
<!--		FROM (-->
<!--		    SELECT-->
<!--		        T1.CC_ID-->
<!--		        ,T1.CC_NM-->
<!--		        ,T1.HGRK_CC_ID-->
<!--		        ,T2.CC_NM AS HGRK_CC_NM-->
<!--		        ,T1.DEPT_SORT_SEQC-->
<!--		        ,T1.ORG_CRT_DATE-->
<!--		        ,T1.ORG_CLOSE_DATE-->
<!--		        ,T1.AVL_START_DATE-->
<!--		        ,T1.AVL_END_DATE-->
<!--		    FROM HMST201T T1-->
<!--		        LEFT OUTER JOIN HMST201T T2-->
<!--		        ON T1.HGRK_CC_ID = T2.CC_ID AND T2.AVL_START_DATE <![CDATA[ <= ]]> #{stadDate}  AND T2.AVL_END_DATE <![CDATA[ >= ]]> #{stadDate}-->
<!--		    WHERE T1.AVL_START_DATE <![CDATA[ <= ]]> #{stadDate}-->
<!--		        AND T1.AVL_END_DATE <![CDATA[ >= ]]> #{stadDate}-->
<!--		) MAIN-->
<!--		START WITH MAIN.HGRK_CC_ID IS NULL-->
<!--		CONNECT BY PRIOR MAIN.CC_ID = MAIN.HGRK_CC_ID-->
<!--		ORDER SIBLINGS BY TO_NUMBER(MAIN.DEPT_SORT_SEQC)-->

<!--	</select>-->

<!--	&lt;!&ndash; 코스트센터이력 다운로드 : 코스트센터이력다운로드&ndash;&gt;-->
<!--	<select id="Select_CostCenterChgHisDownload"-->
<!--			parameterType="com.ibiz.api.model.CostCenterChgHisVO"-->
<!--			resultType="com.ibiz.api.model.ExcelCostCenterChgHisVO">-->

<!--		SELECT-->
<!--		    MAIN.CC_ID-->
<!--		    , MAIN.CC_NM-->
<!--		    , MAIN.HGRK_CC_ID-->
<!--		    , MAIN.HGRK_CC_NM-->
<!--		    , MAIN.DEPT_SORT_SEQC-->
<!--		    , MAIN.ORG_CRT_DATE-->
<!--		    , MAIN.ORG_CLOSE_DATE-->
<!--		    , MAIN.AVL_START_DATE-->
<!--		    , MAIN.AVL_END_DATE-->
<!--		FROM (-->
<!--		        SELECT-->
<!--		            T1.CC_ID-->
<!--		            ,T1.CC_NM-->
<!--		            ,T1.HGRK_CC_ID-->
<!--		            ,T2.CC_NM AS HGRK_CC_NM-->
<!--		            ,T1.DEPT_SORT_SEQC-->
<!--		            ,T1.ORG_CRT_DATE-->
<!--		            ,T1.ORG_CLOSE_DATE-->
<!--		            ,T1.AVL_START_DATE-->
<!--		            ,T1.AVL_END_DATE-->
<!--		        FROM HMST201T T1-->
<!--		            LEFT OUTER JOIN HMST201T T2-->
<!--		            ON T1.HGRK_CC_ID = T2.CC_ID AND T2.AVL_START_DATE <![CDATA[ <= ]]> T1.AVL_START_DATE AND T2.AVL_END_DATE <![CDATA[ >= ]]> T1.AVL_START_DATE-->
<!--		        WHERE T1.AVL_START_DATE  BETWEEN #{avlStartDate} AND #{avlEndDate}-->
<!--		            OR T1.AVL_END_DATE  BETWEEN #{avlStartDate} AND #{avlEndDate}-->
<!--		            OR ( T1.AVL_START_DATE <![CDATA[ <= ]]> #{avlStartDate} AND T1.AVL_END_DATE <![CDATA[ >= ]]> #{avlEndDate} )-->
<!--		    ) MAIN-->
<!--		    LEFT OUTER JOIN-->
<!--		    (-->
<!--		        SELECT-->
<!--		            CC_ID-->
<!--		            , MAX(DEPT_FULLNAME) AS DEPT_FULLNAME-->
<!--		        FROM (-->
<!--		            SELECT-->
<!--		                T1.CC_ID-->
<!--		                , LTRIM (SYS_CONNECT_BY_PATH (T1.DEPT_SORT_SEQC || T1.CC_ID, ' > '), ' > ') AS DEPT_FULLNAME-->
<!--		            FROM HMST201T T1-->
<!--		            WHERE T1.AVL_START_DATE  BETWEEN #{avlStartDate} AND #{avlEndDate}-->
<!--		                OR T1.AVL_END_DATE  BETWEEN #{avlStartDate} AND #{avlEndDate}-->
<!--		                OR ( T1.AVL_START_DATE <![CDATA[ <= ]]> #{avlStartDate} AND T1.AVL_END_DATE <![CDATA[ >= ]]>  #{avlEndDate} )-->
<!--		            START WITH T1.HGRK_CC_ID IS NULL-->
<!--		            CONNECT BY PRIOR T1.CC_ID = T1.HGRK_CC_ID-->
<!--		        ) SUB-->
<!--		        GROUP BY CC_ID-->
<!--		    ) MAIN2-->
<!--		    ON MAIN.CC_ID = MAIN2.CC_ID-->
<!--		ORDER BY MAIN2.DEPT_FULLNAME, MAIN.DEPT_SORT_SEQC-->

<!--	</select>-->

	<!-- 추가 : 최신 변경이력 코스트센터정보 가져오기-->
	<select id="Select_CostCenterlastestChgHis"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO"
			resultType="com.ibiz.api.model.CostCenterChgHisVO">

		SELECT
		    t1.cc_id,
		    t1.cc_nm,
		    t1.hgrk_cc_id,
		    t1.dept_sort_seqc,
		    t1.org_crt_date,
		    t1.org_close_date,
		    t1.avl_start_date,
		    t1.avl_end_date
		FROM
		    hmst201t t1
		WHERE
		    t1.cc_id = #{ccId}
		    AND   t1.avl_start_date = (
		        SELECT
		            MAX(avl_start_date)
		        FROM
		            hmst201t tt1
		        WHERE
		            tt1.cc_id = #{ccId}
		    )
	</select>

	<!-- 저장 : 등록 유효기간 적합성 판단-->
	<select id="Select_CostCenterValidationCheck"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO"
			resultType="com.ibiz.api.model.CostCenterChgHisVO">

		SELECT
		    CASE WHEN SUM(T1_VAL_CHK_01) IS NULL THEN 'S'    -- 신규등록
		         WHEN SUM(T1_VAL_CHK_01) = 0 AND #{avlEndDate} <![CDATA[ > ]]> MAX(AVL_END_DATE)
		         		AND #{avlStartDate} <![CDATA[ > ]]> MAX(AVL_START_DATE) THEN  'LN'--최신 이력 추가 성공
		         WHEN SUM(T1_VAL_CHK_01) = 0 AND #{avlEndDate} <![CDATA[ >= ]]> MAX(AVL_END_DATE)
		         		AND #{avlStartDate} <![CDATA[ <= ]]> MAX(AVL_START_DATE) THEN 'LNE' --최신 이력 추가 실패 (2중중첩 이력)
		         WHEN SUM(T1_VAL_CHK_01) = 0 AND #{avlEndDate} <![CDATA[ < ]]> MAX(AVL_END_DATE)
		                AND (SUM(T1_VAL_CHK_02) + SUM(T1_VAL_CHK_03)) = 0 THEN 'MN'  --중간 이력 추가 성공
		         WHEN SUM(T1_VAL_CHK_01) = 0 AND #{avlEndDate} <![CDATA[ < ]]> MAX(AVL_END_DATE)
		                AND (SUM(T1_VAL_CHK_02) + SUM(T1_VAL_CHK_03)) <![CDATA[ > ]]> 0 THEN 'MLE'   --중간 이력 추가 실패 (중첩기간 존재)
		         WHEN SUM(T1_VAL_CHK_01) > 0 AND #{avlEndDate} <![CDATA[ >= ]]> MAX(AVL_END_DATE)
		                AND (SUM(T1_VAL_CHK_04) + SUM(T1_VAL_CHK_05)) = 0 THEN 'LU'  --최신 이력 변경 성공
		         WHEN SUM(T1_VAL_CHK_01) > 0 AND #{avlEndDate} <![CDATA[ >= ]]> MAX(AVL_END_DATE)
		                AND (SUM(T1_VAL_CHK_04) + SUM(T1_VAL_CHK_05)) <![CDATA[ > ]]> 0 THEN 'LUE'   --최신 이력 변경 실패 (중첩기간 존재)
		         WHEN SUM(T1_VAL_CHK_01) > 0 AND #{avlEndDate} <![CDATA[ < ]]> MAX(AVL_END_DATE)
		                AND (SUM(T1_VAL_CHK_04) + SUM(T1_VAL_CHK_05)) = 0 THEN 'MU'  --중간 이력 변경 성공
		         WHEN SUM(T1_VAL_CHK_01) > 0 AND #{avlEndDate} <![CDATA[ < ]]> MAX(AVL_END_DATE)
		                AND (SUM(T1_VAL_CHK_04) + SUM(T1_VAL_CHK_05)) <![CDATA[ > ]]> 0 THEN 'MUE'  --중간 이력 변경 실패 (중첩기간 존재)
		         ELSE 'E'
		    END VAL_CHK
		FROM (
		    SELECT
		        CASE WHEN #{avlStartDate} = T1.AVL_START_DATE THEN 1 ELSE 0 END T1_VAL_CHK_01
		        ,CASE WHEN #{avlStartDate} BETWEEN T1.AVL_START_DATE AND T1.AVL_END_DATE THEN 1 ELSE 0 END T1_VAL_CHK_02
		        ,CASE WHEN #{avlEndDate} BETWEEN T1.AVL_START_DATE AND T1.AVL_END_DATE THEN 1 ELSE 0 END T1_VAL_CHK_03
		        ,CASE WHEN T1.AVL_START_DATE <![CDATA[ <> ]]> #{avlStartDate} AND #{avlStartDate} BETWEEN T1.AVL_START_DATE AND T1.AVL_END_DATE THEN 1 ELSE 0 END T1_VAL_CHK_04
		        ,CASE WHEN T1.AVL_START_DATE <![CDATA[ <> ]]> #{avlStartDate} AND #{avlEndDate} BETWEEN T1.AVL_START_DATE AND T1.AVL_END_DATE THEN 1 ELSE 0 END T1_VAL_CHK_05
		        , T1.AVL_END_DATE
		        , T1.AVL_START_DATE
		    FROM HMST201T T1
		    WHERE CC_ID = #{ccId}
		)
	</select>

	<!-- 저장: 부서ID MAX값 가져오기-->
	<select id="Select_CostCenterNextId"
			resultType="com.ibiz.api.model.CostCenterChgHisVO">

		SELECT
			 CASE WHEN MAX(CC_ID) IS NULL THEN TO_CHAR(SYSDATE, 'YYYY') || '001' ELSE TO_CHAR(MAX(CC_ID) + 1) END CC_ID
		FROM HMST200T
		WHERE CC_ID >=  TO_CHAR(SYSDATE, 'YYYY') || '000'
			AND LENGTH(CC_ID) = 7
	</select>

	<!--

		insert

	-->
	<!-- 저장 : 코스트센터변경이력 추가-->
	<insert id="Insert_CostCenterHisNew"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO">
		INSERT INTO HMST201T
		(
		CC_ID
		,CC_NM
		<if test="hgrkCcId != null and hgrkCcId !=''">
			,HGRK_CC_ID
		</if>
		,AVL_START_DATE
		,AVL_END_DATE
		<if test="deptSortSeqc != null and deptSortSeqc !=''">
			,DEPT_SORT_SEQC
		</if>
		,ORG_CRT_DATE
		,ORG_CLOSE_DATE
		,CHG_EMP_ID
		,CHG_DT
		)
		VALUES
		(
		#{ccId}
		,#{ccNm}
		<if test="hgrkCcId != null and hgrkCcId !=''">
			,#{hgrkCcId}
		</if>
		,#{avlStartDate}
		,#{avlEndDate}
		<if test="deptSortSeqc != null and deptSortSeqc !=''">
			,#{deptSortSeqc}
		</if>
		,#{orgCrtDate}
		,#{orgCloseDate}
		,#{chgEmpId}
		,SYSDATE
		)

	</insert>

	<!-- 저장 : 부서정보 추가-->
	<insert id="Insert_CostCenterInfoNew"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO">
		INSERT INTO HMST200T
		(
		CC_ID
		,CC_NM
		<if test="hgrkCcId != null and hgrkCcId !=''">
			,HGRK_CC_ID
		</if>
		<if test="deptSortSeqc != null and deptSortSeqc !=''">
			,DEPT_SORT_SEQC
		</if>
		,ORG_CRT_DATE
		,ORG_CLOSE_DATE
		,CHG_EMP_ID
		,CHG_DT
		)
		VALUES
		(
		#{ccId}
		,#{ccNm}
		<if test="hgrkCcId != null and hgrkCcId !=''">
			,#{hgrkCcId}
		</if>
		<if test="deptSortSeqc != null and deptSortSeqc !=''">
			,#{deptSortSeqc}
		</if>
		,#{orgCrtDate}
		,#{orgCloseDate}
		,#{chgEmpId}
		,SYSDATE
		)

	</insert>


	<!--

		update

	-->
	<!-- 저장 : 부서이력 변경-->
	<update id="Update_CostCenterChgHis"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO">

		UPDATE HMST201T
		SET AVL_END_DATE = #{avlEndDate, jdbcType=VARCHAR}
			, CC_NM = #{ccNm, jdbcType=VARCHAR}
			, HGRK_CC_ID = #{hgrkCcId, jdbcType=VARCHAR}
			, DEPT_SORT_SEQC = #{deptSortSeqc, jdbcType=VARCHAR}
			, ORG_CRT_DATE = #{orgCrtDate, jdbcType=VARCHAR}
			, ORG_CLOSE_DATE = #{orgCloseDate, jdbcType=VARCHAR}
			, CHG_EMP_ID = #{chgEmpId, jdbcType=VARCHAR}
			, CHG_DT = SYSDATE
		WHERE CC_ID = #{ccId, jdbcType=VARCHAR} AND AVL_START_DATE = #{avlStartDate, jdbcType=VARCHAR}
	</update>

	<!-- 저장 : 부서정보 변경-->
	<update id="Update_CostCenterInfo"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO">

		UPDATE HMST200T
		SET CC_NM = #{ccNm, jdbcType=VARCHAR}
			, HGRK_CC_ID = #{hgrkCcId, jdbcType=VARCHAR}
			, DEPT_SORT_SEQC = #{deptSortSeqc, jdbcType=VARCHAR}
			, ORG_CRT_DATE = #{orgCrtDate, jdbcType=VARCHAR}
			, ORG_CLOSE_DATE = #{orgCloseDate, jdbcType=VARCHAR}
			, CHG_EMP_ID = #{chgEmpId, jdbcType=VARCHAR}
			, CHG_DT = SYSDATE
		WHERE CC_ID = #{ccId, jdbcType=VARCHAR}
	</update>

	<!-- 저장 : 최신정보의 이력유효기간 종료일 변경 -->
	<update id="Update_CostCenterLastestAvlEndDate"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO">

		UPDATE HMST201T
		SET AVL_END_DATE = CASE WHEN #{avlEndDate, jdbcType=VARCHAR} = '99991231' THEN TO_CHAR(TO_DATE(#{avlStartDate, jdbcType=VARCHAR}) -1, 'YYYYMMDD')
							    ELSE AVL_END_DATE END
		WHERE CC_ID = #{ccId}
			AND AVL_START_DATE = (
									SELECT MAX(AVL_START_DATE)
									FROM HMST201T
									WHERE CC_ID = #{ccId, jdbcType=VARCHAR}
								 )
	</update>


	<!--

		delete
	-->

	<!-- 삭제 : 부서변경이력 삭제-->
	<delete id="Delete_CostCenterChgHis"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO">

		DELETE HMST201T WHERE CC_ID = #{ccId, jdbcType=VARCHAR} AND AVL_START_DATE = #{avlStartDate}
	</delete>

	<!-- 삭제 : 부서정보 삭제-->
	<delete id="Delete_CostCenterInfo"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO">

		DELETE HMST200T
		WHERE CC_ID = #{ccId}
			AND 0 = (
						SELECT COUNT(CC_ID) FROM HMST201T WHERE CC_ID = #{ccId}
					)
			AND 0 = (
				SELECT COUNT(*) FROM HMST300T WHERE BLTO_DEPT_ID = #{ccId}
			)
	</delete>

	<!-- 2019/08/19 -->

	<!-- 이력유효기간 시작/종료일에 따른 상위조직 불러오기 -->
	<select id="Select_HighCostCenterAvl"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO"
			resultType="com.ibiz.api.model.CostCenterChgHisVO">
		<![CDATA[
		SELECT
	    cc_id,
	    cc_nm,
	    hgrk_cc_id,
	    level AS depth_level
			FROM
	    (
	        SELECT DISTINCT
	            cc_id,
	            cc_nm,
	            hgrk_cc_id,
	            dept_sort_seqc
	        FROM
	            hmst201t
	        WHERE
	            (
	                #{avlStartDate} <= avl_end_date
	                AND   #{avlEndDate} >= avl_start_date
	            )
	    )
		START WITH
		    hgrk_cc_id IS NULL
		CONNECT BY
		    PRIOR cc_id = hgrk_cc_id
		ORDER SIBLINGS BY
		    dept_sort_seqc
	    ]]>
    </select>

	<!-- 이력유효기간 시작/종료일에 따른 해당조직을 제외한 상위조직 불러오기 -->
	<select id="Select_HighCostCenterDeptCombo"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO"
			resultType="com.ibiz.api.model.CostCenterChgHisVO">
		<![CDATA[
		SELECT
	    cc_id,
	    cc_nm,
	    hgrk_cc_id,
	    level AS depth_level
			FROM
	    (
	        SELECT DISTINCT
	            cc_id,
	            cc_nm,
	            hgrk_cc_id,
	            dept_sort_seqc
	        FROM
	            hmst201t
	        WHERE
	            (
	                #{avlStartDate} <= avl_end_date
	                AND   #{avlEndDate} >= avl_start_date
	            )
	    )
	    WHERE NOT #{ccId} IN CC_ID
		START WITH
		    hgrk_cc_id IS NULL
		CONNECT BY
		    PRIOR cc_id = hgrk_cc_id
		ORDER SIBLINGS BY
		    dept_sort_seqc
	    ]]>
    </select>

	<!-- 조직의 종료일자 조회 -->
	<select id="Select_CcCloseDate"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO"
			resultType="com.ibiz.api.model.CostCenterChgHisVO">
		SELECT
			org_close_date
		FROM
			hmst200t
		WHERE
			cc_id = #{ccId}
	</select>

	<!-- 조직의 종료일자를 입력받은 이력유효기간으로 변경 -->
	<update id="Update_CcCloseDate"
			parameterType="com.ibiz.api.model.CostCenterChgHisVO">
		UPDATE
			HMST201T
		SET
			ORG_CLOSE_DATE = #{avlEndDate}
		WHERE
			CC_ID = #{ccId}
	</update>
</mapper>

