<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inzent.ibiz.batch.HrIFMapper">
    <!--

       Select

   -->

    <select id="selectApiUserInfo"
            resultType="com.ibiz.api.model.EmployeeIFVO">

		SELECT
			T1.SND_JOB_CD
    		,T1.SND_DATE
    		,T1.SND_SEQ
		    ,T1.EMP_ID
		    ,T1.EMP_NM
		    ,T1.SSRG_NO
		    ,T1.BLTO_DEPT_ID
		    ,(
		        SELECT
		            DEPT_NM
		        FROM HMST100T TT1
		        WHERE TT1.DEPT_ID = T1.BLTO_DEPT_ID
		    ) AS BLTO_DEPT_NM
		    ,(
		        SELECT
		            TT2.COM_CD
		        FROM ACOM020T TT1
		            INNER JOIN ACOM030T TT2
		            ON TT1.COM_GRP_CD = TT2.COM_GRP_CD
		        WHERE CLMN_NM = 'OFPS_CD'
		            AND TT2.MAPP_COM_CD = T1.OFPS_CD
		     ) AS OFPS_CD
		     ,(
		        SELECT
		            TT2.MAPP_COM_CD_NM
		        FROM ACOM020T TT1
		            INNER JOIN ACOM030T TT2
		            ON TT1.COM_GRP_CD = TT2.COM_GRP_CD
		        WHERE CLMN_NM = 'OFPS_CD'
		            AND TT2.MAPP_COM_CD = T1.OFPS_CD
		     ) AS OFPS_CD_NM
		     ,T1.OFPS_YRVC_COUNT
		     ,(
		        SELECT
		            TT2.COM_CD
		        FROM ACOM020T TT1
		            INNER JOIN ACOM030T TT2
		            ON TT1.COM_GRP_CD = TT2.COM_GRP_CD
		        WHERE CLMN_NM = 'RESO_CD'
		            AND TT2.MAPP_COM_CD = T1.RESO_CD
		     ) AS RESO_CD
		     ,(
		        SELECT
		            TT2.MAPP_COM_CD_NM
		        FROM ACOM020T TT1
		            INNER JOIN ACOM030T TT2
		            ON TT1.COM_GRP_CD = TT2.COM_GRP_CD
		        WHERE CLMN_NM = 'RESO_CD'
		            AND TT2.MAPP_COM_CD = T1.RESO_CD
		     ) AS RESO_CD_NM
		     ,T1.COMP_ENCM_DATE
		     ,T1.GRP_ENCM_DATE
		     ,T1.RET_DATE
		     ,(
		        SELECT
		            TT2.COM_CD
		        FROM ACOM020T TT1
		            INNER JOIN ACOM030T TT2
		            ON TT1.COM_GRP_CD = TT2.COM_GRP_CD
		        WHERE CLMN_NM = 'RECRT_DST_CD'
		            AND TT2.MAPP_COM_CD = T1.RECRT_DST_CD
		     ) AS RECRT_DST_CD
		     ,T1.CNTR_START_DATE
		     ,T1.CNTR_END_DATE
		     ,(
		        SELECT
		            TT2.COM_CD
		        FROM ACOM020T TT1
		            INNER JOIN ACOM030T TT2
		            ON TT1.COM_GRP_CD = TT2.COM_GRP_CD
		        WHERE CLMN_NM = 'HDOC_STAT_CD'
		            AND TT2.MAPP_COM_CD = T1.HDOC_STAT_DTL_CD
		     ) AS HDOC_STAT_CD
		     ,(
		        SELECT
		            TT2.COM_CD
		        FROM ACOM020T TT1
		            INNER JOIN ACOM030T TT2
		            ON TT1.COM_GRP_CD = TT2.COM_GRP_CD
		        WHERE CLMN_NM = 'HDOC_STAT_DTL_CD'
		            AND TT2.MAPP_COM_CD = T1.HDOC_STAT_DTL_CD
		     ) AS HDOC_STAT_DTL_CD
		     ,T1.LVAB_START_DATE
		     ,T1.LVAB_END_DATE
		     ,(
		        SELECT
		            TT2.COM_CD
		        FROM ACOM020T TT1
		            INNER JOIN ACOM030T TT2
		            ON TT1.COM_GRP_CD = TT2.COM_GRP_CD
		        WHERE CLMN_NM = 'BLTO_COMP_CD'
		            AND TT2.MAPP_COM_CD = T1.BLTO_COMP_CD
		     ) AS BLTO_COMP_CD
		     ,(
		        SELECT
		            TT2.MAPP_COM_CD_NM
		        FROM ACOM020T TT1
		            INNER JOIN ACOM030T TT2
		            ON TT1.COM_GRP_CD = TT2.COM_GRP_CD
		        WHERE CLMN_NM = 'BLTO_COMP_CD'
		            AND TT2.MAPP_COM_CD = T1.BLTO_COMP_CD
		     ) AS BLTO_COMP_NM
		     ,(
		        SELECT
		            TT2.COM_CD
		        FROM ACOM020T TT1
		            INNER JOIN ACOM030T TT2
		            ON TT1.COM_GRP_CD = TT2.COM_GRP_CD
		        WHERE CLMN_NM = 'SEX_CD'
		            AND TT2.MAPP_COM_CD = T1.SEX_CD
		     ) AS SEX_CD
		     , T1.COMP_TEL_NO
		     , T1.MBPH_NO
		     , T1.EML_ADRS
		     , T1.JBEF_EMP_ID
		FROM SSIF130T T1
		WHERE BTJB_RST_CD IS NULL OR BTJB_RST_CD = '2'
 	</select>

    <select id="selectIsValidUserInfo"
            parameterType="com.ibiz.api.model.EmployeeIFVO"
            resultType="com.ibiz.api.model.EmployeeIFVO">

		SELECT COUNT(EMP_ID) AS VAL_CHK FROM HMST300T WHERE EMP_ID = #{EMP_ID}
 	</select>

    <select id="selectCreateCustomerID"
            parameterType="com.ibiz.api.model.EmployeeIFVO"
            resultType="com.ibiz.api.model.EmployeeIFVO">

		SELECT
    		CASE WHEN BASE_CUST_ID IS NULL THEN TO_CHAR(NEW_CUST_ID)
         		 ELSE TO_CHAR(BASE_CUST_ID)
    		END CUST_ID
		FROM (
		    SELECT
		        NVL(MAX(A.CUST_ID), TO_CHAR(SYSDATE, 'YYYY') || '00000') + 1 AS NEW_CUST_ID
		        , MAX(B.CUST_ID) AS BASE_CUST_ID
		    FROM CMST000T A
		        LEFT OUTER JOIN CMST010T B
		        ON A.CUST_ID = B.CUST_ID AND B.EMP_ID = #{EMP_ID,jdbcType=VARCHAR}
		    WHERE UPPER(A.CUST_ID) NOT LIKE 'CT%'
		        AND A.CUST_ID >= TO_CHAR(SYSDATE, 'YYYY') || '00000'
		)
 	</select>



    <!--

       insert

   -->

    <insert id="insertApiUserInfo"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

		INSERT INTO SSIF130T
			(
			 SND_JOB_CD,		SND_DATE,				SND_SEQ,				DATA_CHG_DST_CD,		SND_SYS_DST_CD,
			 EMP_ID,			EMP_NM,					SSRG_NO,				BLTO_DEPT_ID,			BLTO_DEPT_NM,
			 CC_ID,				CC_NM,					OFPS_CD,				OFPS_CD_NM,				OFPS_YRVC_COUNT,
			 RESO_CD,			RESO_CD_NM,				RECRT_DST_CD,			RECRT_DST_CD_NM,		CNTR_START_DATE,
			 CNTR_END_DATE,		HDOC_STAT_DTL_CD,		HDOC_STAT_DTL_CD_NM,	COMP_TEL_NO,			MBPH_NO,
			 EML_ADRS,			COMP_ENCM_DATE,			GRP_ENCM_DATE,			LVAB_START_DATE,		LVAB_END_DATE,
			 RET_DATE,			JBEF_EMP_ID, 			BLTO_COMP_CD,			BLTO_COMP_NM,			SEX_CD
			)
			VALUES
			(
			 #{SND_JOB_CD,jdbcType=VARCHAR},		#{SND_DATE,jdbcType=VARCHAR},			#{SND_SEQ,jdbcType=VARCHAR},				#{DATA_CHG_DST_CD,jdbcType=VARCHAR},		#{SND_SYS_DST_CD,jdbcType=VARCHAR},
			 #{EMP_ID,jdbcType=VARCHAR},			#{EMP_NM,jdbcType=VARCHAR},				#{SSRG_NO,jdbcType=VARCHAR},				#{BLTO_DEPT_ID,jdbcType=VARCHAR},			#{BLTO_DEPT_NM,jdbcType=VARCHAR},
			 #{CC_ID,jdbcType=VARCHAR},				#{CC_NM,jdbcType=VARCHAR},				#{OFPS_CD,jdbcType=VARCHAR},				#{OFPS_CD_NM,jdbcType=VARCHAR},				#{OFPS_YRVC_COUNT,jdbcType=VARCHAR},
			 #{RESO_CD,jdbcType=VARCHAR},			#{RESO_CD_NM,jdbcType=VARCHAR},			#{RECRT_DST_CD,jdbcType=VARCHAR},			#{RECRT_DST_CD_NM,jdbcType=VARCHAR},		#{CNTR_START_DATE,jdbcType=VARCHAR},
			 #{CNTR_END_DATE,jdbcType=VARCHAR},		#{HDOC_STAT_DTL_CD,jdbcType=VARCHAR},	#{HDOC_STAT_DTL_CD_NM,jdbcType=VARCHAR},	#{COMP_TEL_NO,jdbcType=VARCHAR},			#{MBPH_NO,jdbcType=VARCHAR},
			 #{EML_ADRS,jdbcType=VARCHAR},			#{COMP_ENCM_DATE,jdbcType=VARCHAR},		#{GRP_ENCM_DATE,jdbcType=VARCHAR},			#{LVAB_START_DATE,jdbcType=VARCHAR},		#{LVAB_END_DATE,jdbcType=VARCHAR},
			 #{RET_DATE,jdbcType=VARCHAR},			#{JBEF_EMP_ID,jdbcType=VARCHAR},  		#{BLTO_COMP_CD,jdbcType=VARCHAR},			#{BLTO_COMP_NM,jdbcType=VARCHAR},           #{SEX_CD,jdbcType=VARCHAR}
			)

	</insert>

    <insert id="insertUserInfo"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

		INSERT INTO HMST300T
			(
			 EMP_ID,			EMP_NM,					SSRG_NO,				BLTO_DEPT_ID,			OFPS_CD,
			 OFPS_YRVC_COUNT,	RESO_CD,			    COMP_ENCM_DATE,			GRP_ENCM_DATE,			RET_DATE,
			 RECRT_DST_CD,		CNTR_START_DATE,		CNTR_END_DATE,		    HDOC_STAT_CD,           HDOC_STAT_DTL_CD,
			 REG_EMP_ID,		REG_DT,			LVAB_START_DATE,		LVAB_END_DATE
			)
			VALUES
			(
			 #{EMP_ID,jdbcType=VARCHAR},			#{EMP_NM,jdbcType=VARCHAR},				#{SSRG_NO,jdbcType=VARCHAR},				#{BLTO_DEPT_ID,jdbcType=VARCHAR},		#{OFPS_CD,jdbcType=VARCHAR},
			 #{OFPS_YRVC_COUNT,jdbcType=VARCHAR},	#{RESO_CD,jdbcType=VARCHAR},			#{COMP_ENCM_DATE,jdbcType=VARCHAR},			#{GRP_ENCM_DATE,jdbcType=VARCHAR},		#{RET_DATE,jdbcType=VARCHAR},
			 #{RECRT_DST_CD,jdbcType=VARCHAR},		#{CNTR_START_DATE,jdbcType=VARCHAR},	#{CNTR_END_DATE,jdbcType=VARCHAR},			#{HDOC_STAT_CD,jdbcType=VARCHAR},       #{HDOC_STAT_DTL_CD,jdbcType=VARCHAR},
			 'ADMIN',								SYSDATE,								#{LVAB_START_DATE,jdbcType=VARCHAR},		#{LVAB_END_DATE,jdbcType=VARCHAR}
			)

	</insert>

    <insert id="insertCustomerInfo"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

		INSERT INTO CMST000T
            (
             CUST_ID,       CUST_NM,       CSTID_NO_DST_CD,    CSTID_NO,       CUST_TYPE_CD,
             BLTO_COMP_NM,  BLTO_DEPT_NM,  OFPS_NM,            RESO_NM,        REG_EMP_ID,
             REG_DT,		SEX_CD,		   CTRY_CD,            CUST_STAT_CD
            )
            VALUES
            (
             #{CUST_ID},     #{EMP_NM},     'B',  			   #{SSRG_NO},      'D1',
             #{BLTO_COMP_NM},#{BLTO_DEPT_NM},#{OFPS_CD_NM},    #{RESO_CD_NM},   'ADMIN',
             SYSDATE,        #{SEX_CD},    'KOR',			   'A'
            )

	</insert>

    <insert id="insertCustomerHistory"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

		INSERT INTO CMST002T
			(
				CUST_ID,		CUST_NM,		CUST_TYPE_CD,	CSTID_NO_DST_CD,	CSTID_NO,
				CUST_STAT_CD,	CHG_EMP_ID,		CHG_DT
			)
			SELECT
				CUST_ID,		CUST_NM,		CUST_TYPE_CD,	CSTID_NO_DST_CD,	CSTID_NO,
				CUST_STAT_CD,	'ADMIN',		SYSDATE
			FROM CMST000T
			WHERE CUST_ID = #{CUST_ID}
				AND 0 = (
							SELECT
								COUNT(*)
							FROM CMST000T
							WHERE CUST_ID = #{CUST_ID}
								AND CUST_NM = #{EMP_NM}
								AND CUST_TYPE_CD = 'D1'
								AND CSTID_NO_DST_CD = 'B'
								AND CSTID_NO = #{SSRG_NO}
								AND CUST_STAT_CD = 'A'
						)

	</insert>



    <insert id="insertCustomerRole"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

		INSERT INTO CMST010T
            (
             CUST_ID,           ROLE_SEQ,       CUST_ROLE_CLSF_CD,      CUST_ROLE_DTL_CLSF_CD,      EMP_ID,
             CUST_ROLE_STAT_CD, AVL_START_DATE, AVL_END_DATE,           CHG_EMP_ID,                 CHG_DT
            )
            SELECT
            	#{CUST_ID},    	NVL(MAX(ROLE_SEQ), 0) + 1,  'C',        'C01',                      #{EMP_ID},
            	'A',            #{COMP_ENCM_DATE}, NVL(#{RET_DATE}, '99991231'),        'ADMIN',       SYSDATE
        	FROM CMST010T
        	WHERE EMP_ID = #{EMP_ID}

	</insert>

    <insert id="insertCustomerContactNumber"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

		INSERT INTO CMST031T
            (CUST_ID, CNPL_SEQ, CNPL_DST_CD, TEL_NO, AVL_START_DATE, AVL_END_DATE, CHG_EMP_ID, CHG_DT)
            SELECT
                 #{CUST_ID}
                 , (SELECT NVL(MAX(CNPL_SEQ),0) + 1 FROM CMST031T WHERE  CUST_ID = #{CUST_ID})
                 ,  #{CNPL_DST_CD}
                 , #{COMP_TEL_NO}
                 , #{COMP_ENCM_DATE}
                 , NVL(#{RET_DATE}, '99991231')
                 , 'ADMIN'
                 , SYSDATE
			FROM DUAL

	</insert>

    <insert id="insertCustomerContactMobileNumber"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

		INSERT INTO CMST031T
            (CUST_ID, CNPL_SEQ, CNPL_DST_CD, TEL_NO, AVL_START_DATE, AVL_END_DATE, CHG_EMP_ID, CHG_DT)
            SELECT
                 #{CUST_ID}
                 , (SELECT NVL(MAX(CNPL_SEQ),0) + 1 FROM CMST031T WHERE  CUST_ID = #{CUST_ID})
                 , 'B'
                 , #{MBPH_NO}
                 , #{COMP_ENCM_DATE}
                 , '99991231'
                 , 'ADMIN'
                 , SYSDATE
			FROM DUAL

	</insert>

    <insert id="insertCustomerContactEmlAdrs"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

		INSERT INTO CMST031T
            (CUST_ID, CNPL_SEQ, CNPL_DST_CD, EML_ADRS, AVL_START_DATE, AVL_END_DATE, CHG_EMP_ID, CHG_DT)
            SELECT
                 #{CUST_ID}
                 , (SELECT NVL(MAX(CNPL_SEQ),0) + 1 FROM CMST031T WHERE  CUST_ID = #{CUST_ID})
                 , 'E'
                 , #{EML_ADRS}
                 , #{COMP_ENCM_DATE}
                 , NVL(#{RET_DATE}, '99991231')
                 , 'ADMIN'
                 , SYSDATE
			FROM DUAL

	</insert>

    <insert id="insertCustomerRelation"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

		INSERT INTO CMST001T
            (CRIT_CUST_ID, TGT_CUST_ID, CUST_REL_TYPE_CD, AVL_START_DATE, AVL_END_DATE, CHG_EMP_ID, CHG_DT)
            SELECT
                #{CUST_ID} AS CRIT_CUST_ID
                , CASE WHEN #{BLTO_COMP_CD} = '05' THEN 'CT0912'
                      WHEN #{BLTO_COMP_CD} = '01' THEN 'CT0910'
                      WHEN #{BLTO_COMP_CD} = '03' THEN 'CT0920'
                      ELSE ''
                END TGT_CUST_ID
                , 'A1'
                , #{COMP_ENCM_DATE}
                , NVL(#{RET_DATE}, '99991231')
                , 'ADMIN'
                , SYSDATE
            FROM DUAL

	</insert>



    <insert id="insertApiHRChgInfo"
            parameterType="com.ibiz.api.model.EmployeeChangeIFVO">

		INSERT INTO SSIF131T
			(
			 SND_JOB_CD,		SND_DATE,				SND_SEQ,				DATA_CHG_DST_CD,		SND_SYS_DST_CD,
			 EMP_ID,			EMP_NM,					AVL_START_DATE,			AVL_END_DATE,			BLTO_DEPT_ID,
			 BLTO_DEPT_NM,		CNPS_DST_CD,			CNPS_DST_CD_NM,			CC_ID,					CC_NM,
			 OFPS_CD,			OFPS_CD_NM,				RESO_CD,				RESO_CD_NM,				RECRT_DST_CD,
			 RECRT_DST_CD_NM,	HDOC_STAT_DTL_CD,		HDOC_STAT_DTL_CD_NM,	CNTR_START_DATE,		CNTR_END_DATE,
			 BLTO_COMP_CD,		BLTO_COMP_NM
			)
			VALUES
			(
			 #{SND_JOB_CD},		#{SND_DATE},			#{SND_SEQ},				#{DATA_CHG_DST_CD},		#{SND_SYS_DST_CD},
			 #{EMP_ID},			#{EMP_NM},				#{AVL_START_DATE},		#{AVL_END_DATE},		#{BLTO_DEPT_ID},
			 #{BLTO_DEPT_NM},	#{CNPS_DST_CD},			#{CNPS_DST_CD_NM},		#{CC_ID},				#{CC_NM},
			 #{OFPS_CD},		#{OFPS_CD_NM},			#{RESO_CD},				#{RESO_CD_NM},			#{RECRT_DST_CD},
			 #{RECRT_DST_CD_NM},#{HDOC_STAT_DTL_CD},	#{HDOC_STAT_DTL_CD_NM},	#{CNTR_START_DATE},		#{CNTR_END_DATE},
			 #{BLTO_COMP_CD},   #{BLTO_COMP_NM}
			)

	</insert>

	<insert id="insertUserAuthForDept"
			parameterType="com.ibiz.api.model.EmployeeResultIFVO">

		INSERT INTO SSYS252T
		(
		USER_ID,		SEQ,      USER_GRP_CD,		AUTH_DEPT_ID,		SYS_USE_AUTH_CD
		)
		SELECT
		#{empId},   NVL(MAX(SEQ), 0) + 1, 'GN', #{bltoDeptId}, 'C'
		FROM SSYS252T
		WHERE USER_ID = #{empId}

	</insert>


	<insert id="insertUserSystem"
			parameterType="com.ibiz.api.model.EmployeeResultIFVO">

		INSERT INTO SSYS250T
		(
		USER_ID,		USER_NM,		SYS_DST_CD,			SYS_USER_DST_CD,
		PSWD,
		AVL_START_DATE,
		CUST_ID,			AVL_END_DATE,
		REG_EMP_ID,	REG_DT,	CHG_EMP_ID,			CHG_DT
		)
		SELECT
		#{empId}, 		#{empNm},       'IBIZ', 			'A',
		#{defaultGWPW},
		CASE WHEN #{compEncmDate} > '20181001' THEN #{compEncmDate} ELSE '20181001' END,
		#{custId},
		<if test="retDate == null or retDate ==''">
			'99991231',
		</if>
		<if test="retDate != null and retDate !=''">
			#{retDate},
		</if>
		'ADMIN',			SYSDATE,
		'ADMIN',			SYSDATE
		FROM DUAL
	</insert>

    <!--

        update

    -->

    <update id="updateApiUserInfo"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

		UPDATE SSIF130T
		SET BTJB_DT = SYSDATE, BTJB_RST_CD = #{BTJB_RST_CD}, BTJB_MSG_CONT = #{BTJB_MSG_CONT}
		WHERE SND_JOB_CD = #{SND_JOB_CD} AND SND_DATE = #{SND_DATE} AND SND_SEQ = #{SND_SEQ}

	</update>

    <update id="updateUserInfo"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

		UPDATE HMST300T
		SET EMP_NM = #{EMP_NM},
			SSRG_NO = #{SSRG_NO},
			BLTO_DEPT_ID = #{BLTO_DEPT_ID},
			OFPS_CD = #{OFPS_CD},
			OFPS_YRVC_COUNT = #{OFPS_YRVC_COUNT},
			RESO_CD = #{RESO_CD},
			COMP_ENCM_DATE = #{COMP_ENCM_DATE},
			GRP_ENCM_DATE = #{GRP_ENCM_DATE},
			RET_DATE = #{RET_DATE},
			RECRT_DST_CD = #{RECRT_DST_CD},
			CNTR_START_DATE = #{CNTR_START_DATE},
			CNTR_END_DATE = #{CNTR_END_DATE},
			HDOC_STAT_CD = #{HDOC_STAT_CD},
			HDOC_STAT_DTL_CD = #{HDOC_STAT_DTL_CD},
			LVAB_START_DATE = #{LVAB_START_DATE},
			LVAB_END_DATE = #{LVAB_END_DATE},
			CHG_EMP_ID = 'ADMIN',
			CHG_DT = SYSDATE
		WHERE EMP_ID = #{EMP_ID}

	</update>

    <update id="updateCustomerInfo"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

		UPDATE CMST000T
        SET CUST_NM = #{EMP_NM}
            ,CSTID_NO_DST_CD = 'B'
            ,CSTID_NO = #{SSRG_NO}
            ,CUST_TYPE_CD = 'D1'
            ,BLTO_COMP_NM = #{BLTO_COMP_NM}
            ,BLTO_DEPT_NM = #{BLTO_DEPT_NM}
            ,OFPS_NM = #{OFPS_CD_NM}
            ,RESO_NM = #{RESO_CD_NM}
            ,SEX_CD = #{SEX_CD}
            ,CHG_EMP_ID = 'ADMIN'
            ,CHG_DT = SYSDATE
        WHERE CUST_ID = #{CUST_ID}

	</update>

    <update id="updateCustomerRole"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

		UPDATE CMST010T
	    SET EMP_ID = #{EMP_ID}
	    	,AVL_START_DATE = #{COMP_ENCM_DATE}
	        ,AVL_END_DATE = NVL(#{RET_DATE}, '99991231')
	        ,CHG_EMP_ID = 'ADMIN'
            ,CHG_DT = SYSDATE
	    WHERE EMP_ID = #{JBEF_EMP_ID}

	</update>

    <update id="updateCustomerContactNumber"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

        UPDATE CMST031T
        SET CHG_EMP_ID = 'ADMIN'
        , AVL_START_DATE = #{COMP_ENCM_DATE}
        <if test="COMP_TEL_NO != null and COMP_TEL_NO !=''">
            , TEL_NO = #{COMP_TEL_NO}
        </if>
        <if test="COMP_TEL_NO != null and COMP_TEL_NO !=''">
            , AVL_END_DATE = NVL(#{RET_DATE}, '99991231')
        </if>
        <if test="COMP_TEL_NO == null or COMP_TEL_NO ==''">
            , AVL_END_DATE = TO_CHAR(SYSDATE-1, 'YYYYMMDD')
        </if>
        , CHG_DT = SYSDATE
        WHERE CUST_ID = #{CUST_ID}
        AND CNPL_DST_CD = 'A'

    </update>

    <update id="updateCustomerContactMobileNumber"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

        UPDATE CMST031T
        SET CHG_EMP_ID = 'ADMIN'
        , AVL_START_DATE = #{COMP_ENCM_DATE}
        <if test="MBPH_NO != null and MBPH_NO !=''">
            , TEL_NO = #{MBPH_NO}
        </if>
        , AVL_END_DATE = '99991231'
        , CHG_DT = SYSDATE
        WHERE CUST_ID = #{CUST_ID}
        AND CNPL_DST_CD = 'B'

    </update>

    <update id="updateCustomerContactEmlAdrs"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

        UPDATE CMST031T
        SET CHG_EMP_ID = 'ADMIN'
        , AVL_START_DATE = #{COMP_ENCM_DATE}
        <if test="EML_ADRS != null and EML_ADRS !=''">
            , EML_ADRS = #{EML_ADRS}
        </if>
        <if test="EML_ADRS != null and EML_ADRS !=''">
            , AVL_END_DATE = NVL(#{RET_DATE}, '99991231')
        </if>
        <if test="EML_ADRS == null or EML_ADRS ==''">
            , AVL_END_DATE = TO_CHAR(SYSDATE-1, 'YYYYMMDD')
        </if>
        , CHG_DT = SYSDATE
        WHERE CUST_ID = #{CUST_ID}
        AND CNPL_DST_CD = 'E'

    </update>

    <update id="updateCustomerRelation"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

		UPDATE CMST001T
	    SET AVL_END_DATE = NVL(#{RET_DATE}, '99991231')
	        ,AVL_START_DATE = #{COMP_ENCM_DATE}
	        ,CHG_EMP_ID = 'ADMIN'
	        ,CHG_DT = SYSDATE
	    WHERE CRIT_CUST_ID = #{CUST_ID}
	        AND CUST_REL_TYPE_CD = 'A1'

	</update>

    <update id="updateUserSystem"
            parameterType="com.ibiz.api.model.EmployeeIFVO">

        UPDATE SSYS250T
        SET USER_NM = #{EMP_NM}
        ,AVL_START_DATE = CASE WHEN #{COMP_ENCM_DATE} > '20181001' THEN #{COMP_ENCM_DATE} ELSE '20181001' END
        <if test="RET_DATE == null or RET_DATE ==''">
            ,AVL_END_DATE = '99991231'
        </if>
        <if test="RET_DATE != null and RET_DATE !=''">
            ,AVL_END_DATE = #{RET_DATE}
        </if>
        ,CHG_EMP_ID = 'ADMIN'
        ,CHG_DT = SYSDATE
        ,CUST_ID = #{CUST_ID}
        WHERE USER_ID = #{EMP_ID}

    </update>


    <!--

        delete

    -->

</mapper>